@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    margin: 0;
    background-color: #ffe4c4;
}

.main-navigation{
    top: 5px;
    background-color: #cc2c2c;
    padding: 2rem 0;
}

.main-navigation nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation ul{
    list-style: none;
    display: flex;
}

.main-navigation a{
    text-decoration: none;   
    color: #ffe4c4;
    font-size: 15px;
    font-weight: 1500;
}

.nav-list{
    border-radius: 13px;
    padding: 0px 8px;
    
}


.main-navigation h1{
    font-size: 30px;
    font-weight: 1500;
    color: #ffe4c4;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 35px;
}

.section-one{
    margin-top: -4rem;
    margin-left: -5rem;
    display: flex;
    gap: 5rem;
}

.section-one img{
    width: 12rem;
    height: 12rem;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: -15px -15px rgba(253, 46, 46,0.6);
}

.div-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #ffe4c4;
    box-shadow: 20px #000;
    margin-top: 10rem;
    margin-left: 1rem;
    border-radius: 17px;
    position: relative;
    height: 25rem;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    border: 8px double #000;
    border-bottom: none;
    border-right: none;
}

.div-two p{
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.div-one{
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    background-color: #cc2c2c;
    margin-right: -20rem;
}

.div-three{
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    background-color: #cc2c2c;
    margin-top: 15rem;
    margin-left: -26rem;
    margin-right: 10rem;
}

.div-two h1{
    padding: 15px;
    font-size: 25px;
}